@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* TAGS */
body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}
canvas {
    background-color: rgb(151, 23, 23);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}