@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* TAGS */
body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}
canvas {
    background-color: rgb(151, 23, 23);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* PSEUDOS */
*::-moz-selection, *::selection { background-color: rgb(44, 173, 206); }